<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<!--If trying to build this project, please make sure the correct directory to your Subnautica folder is listed below:-->
		<ModDir>C:\Program Files (x86)\Steam\steamapps\common\Subnautica\BepInEx\plugins\Kallie'sPropPack</ModDir>
		<AssetsDir>[INSERT HERE]\AssetBundles\StandaloneWindows</AssetsDir>
	</PropertyGroup>
</Project>